*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

/*=============================
            SIDE NAV
===============================*/
.nav{
    position: fixed;
    left: 0;
    width: 260px;
    text-align: center;
    height: 100%;
    z-index: 1;
    background: #000;
    transform: translate3d(-260px, 0, 0);
    transition: .8s ease;
}
.nav.active{
    transform: translate3d(0, 0, 0);
}
.nav .side-nav{
    list-style-type: none;
    padding: 1em;
    margin: 0;
}
.nav .side-nav .nav-item{
    display: flex;
}
.nav .side-nav .nav-item .nav-link{
    text-decoration: none;
    color: #888888;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: .8em;
    flex: 1;
}
.nav .side-nav .nav-item .site-name{
    text-decoration: none;
    color: #deba44;
    font-size: 1.2em;
    text-transform: uppercase;
    flex: 1;
}
/*=============================
        NAV HAMBURGER
===============================*/
.icon{
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: #888888;
    text-align: left;
    transition: all 2s ease 2.5s;
}
.icon.toggle-btn{
    display: block;
    position: absolute;
    left: 260px;
}
.hamburger{
    width: 50px;
    height: 6px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
.hamburger:before, .hamburger:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
.hamburger:before{
    top: -16px;
}
.hamburger::after{
    top: 16px;
}
.icon.active .hamburger{
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before{
    top: 0;
    transform: rotate(45deg);
}
.icon.active .hamburger:after{
    top: 0;
    transform: rotate(135deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

/*=============================
        NAV ANIMATION
===============================*/
.nav.content-hidden .icon{opacity: 0; transform: translate3d(0, -50px, 0)}

/*=============================
         WELCOME SECTION 
===============================*/
div.welcome-section{
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-section{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.welcome-section .content-wrap{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);/* centra el wrapper*/
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.welcome-section .content-wrap .tittle h1{
    opacity: 1;
    transition: all 1.5s ease 2s;
    font-size: 3em;
}
.welcome-section .content-wrap .date{
    color: #deba44;
    font-size: 2em;
}
.welcome-section .content-wrap .date h3{
    transition: all 1s ease;
    opacity: 1;
}
.welcome-section .content-wrap .date h4{
    transition: all 1s ease .7s;
    opacity: 1;
}

/*=============================
        SCROLL INDICATOR
==============================*/
.scrollindicator{
    position: relative;
    transition: all 2s ease 2.5s
}
.mouse{
    position: relative;
    border: 4px solid rgba(105, 17, 17, 0.4);
    width: 45px;
    height: 75px;
    border-radius: 85px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15%
}
.wheel{
    position: absolute;
    background: rgba(105, 17, 17, 0.4);
    left: 50%;
    width: 6px;
    height: 15px;
    border-radius: 15px;
    animation: wheel 1.2s ease infinite;
}
@keyframes wheel {
    0%{
        top: 20%;
        transform: translate(-50%,20%);
        opacity: 1;
    }
    100%{
        top: 60%;
        transform: translate(-50%,-60%);
        opacity: 0;
    }
}
/*=============================
         WELCOME ANIMATION 
===============================*/
.welcome-section.content-hidden .content-wrap .date h3{opacity: 0; transform: translate3d(0, -50px, 0)}
.welcome-section.content-hidden .content-wrap .date h4{opacity: 0; transform: translate3d(0, -50px, 0)}
.welcome-section.content-hidden .content-wrap .tittle h1{opacity: 0; transform: translate3d(0, -50px, 0)}
.welcome-section.content-hidden .content-wrap .scrollindicator{opacity: 0; transform: translate3d(0, -50px, 0)}

/*=============================
         PEOPLE SECTION 
===============================*/
.people-section{
    position: relative;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
}
.people-section .content-wrap{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.people-tittle{
    font-size: 2em;
    margin: 1em 0;
    transition: all 1s ease;
    font-weight: 400;
}
.people-section .content-wrap .people-line{
    margin: 1em 0;
    display: block;
}
/*=============================
         PEOPLE CARD 
===============================*/
.people-section .content-wrap .people-line .card{
    position: relative;
    margin: 1% 2%;
    width: 200px;
    display: inline-block;
    text-align: left;
    transition: all 1.2s ease;
}
.people-section .content-wrap .people-line .person{
    width: 200px;
    height: 250px;
}
.people-section .content-wrap .people-line .card .name{
    font-weight: 400;
    font-size: .8em;
    margin-top: .8em;
    transition: all 1.2s ease;
}
.people-section .content-wrap .people-line .card .rol{
    font-weight: 200;
    font-size: .7em;
    margin-top: .6em;
    transition: all 1.2s ease;
}
.people-section .content-wrap .people-line .card .country{
    font-weight: 200;
    font-size: .7em;
    margin: .6em 0 1em 0;
    transition: all 2s ease;
}
/*=============================
         PEOPLE ANIMATION 
===============================*/
.people-section .content-wrap .people-line .card:hover{
    transform: scale(1.1);
    max-width: 200px;
    box-shadow: 5px 10px 18px #888888;
}

.people-section .content-wrap .people-line .card:hover > .name{
    transform: translateX(10%);
}
.people-section .content-wrap .people-line .card:hover > .rol{
    transform: translateX(10%);
}
.people-section .content-wrap .people-line .card:hover > .country{
    transform: translateX(20%);
}
.people-section.content-hidden .content-wrap .people-tittle{opacity: 0; transform: translate3d(0, -50px, 0)}
.people-section.content-hidden .content-wrap .people-line .card{opacity: 0; transform: translate3d(0, -50px, 0)}
/*=============================
          SPONSOR SECTION
===============================*/
.sponsor-section{
    position: relative;
    width: 100%;
    height: 50vh;
}
.sponsor-section .content-wrap{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}
.sponsor-section .content-wrap .sponsor-tittle{
    font-size: 2em;
    font-weight: 400;
    margin: 1em 0;
    opacity: 1;
    transition: all 1s ease;
}
.sponsor-section .content-wrap .brand{
    display: inline-block;
    padding: 3em;
    top: 30%;
    left: 0;
    opacity: 1;
    transition: all 1s ease;
}
/*=============================
          SPONSOR ANIMATION
===============================*/
.sponsor-section.content-hidden .content-wrap .sponsor-tittle{opacity: 0; transform: translate3d(0, -50px, 0)}
.sponsor-section.content-hidden .content-wrap .brand{opacity: 0; transform: translate3d(0, -50px, 0)}